
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
# Lo comento para no tener que crearlas
#/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
